.bodyContactus{
    position: relative;
    width: 100%;
    height: 1458px;
}
/*___contactContein_________________*/
.contactContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contactContein{
    width: 958px;
    height: 638px;
    z-index: 3;
    background-color: #FFFFFF;
    box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
    border-radius: 10px;
    margin: -320px 0 0 0;
    display: flex;
    flex-direction: column;
}
.contactconteinTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0 0;
}
.contactConteincontent{
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
}
.contactconteinTitle h3{
    display: block;
    padding: 5px;
    color: rgba(74, 153, 211, 1);
    border-bottom: 2px #4A99D3 solid;
    width: 168px;
    height: 40px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 24.91px;
}
.contactForm{
    height: 490px;
    width: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 0 0;
}
.contactForm h4{
    color: rgba(15, 0, 26, 1);
    font-size: 20px;
    font-weight: 500;
    Line-height: 20,76px;
}
.contactForm p{
    width: 48px;
    height: 17px;
    background-color: #FFFFFF;
    font-size: 16px;
    color:rgba(15, 0, 26, 1);
}
.contactForm input{
    height: 50px;
    width: 422px;
    border: 1.2px solid #B4BEC8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 17px 14px;
}
.contactForm textarea{
    height: 137px;
    width: 422px;
    border: 1.2px solid #B4BEC8;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 15px 0 12px 0;
    padding: 17px 14px;
}
.contactFormButton{
    height: 50px;
    width: 422px;
    background: #4A99D3;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 18,68px;
}
.contactConteinRight{
    height: 491px;
    width: 346px;
    font-size: 16px;
    color: rgba(15, 0, 26, 1);
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 65px 0 0 0;
}
.contactConteinAdress{
    display: inline-block;
    margin: 55px 0px 0 40px;
    width: 312px;

}
.contactConteinAdress::before{
    content: "";
    background-image: url('../img/adress.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 20px 20px;
    padding: 14px;
    margin: 0 0 0 -42px;
    position: absolute;

}
.contactConteinPhone::before{
    content: "";
    background-image: url('../img/PhoneBlack.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 20px 20px;
    padding: 14px;
    margin: 30px 14px 0 0;
}
.contactConteinMail::before{
    content: "";
    background-image: url('../img/mailBlack.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 20px 20px;
    padding: 14px;
    margin: 30px 14px 0 0;
}
.contactsoclinks{
    display: flex;
    justify-content: space-between;
    width: 115px;
}
.contactConteinRight a{
    display: block;
    margin: 0 25px 0 0;
}
.dottedRight{
    z-index: 1;
    height: 154px;
    width: 154px;
    background-image: url('../img/DottedSquare.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 154px 154px;
    overflow: visible;
    position: relative;
    left: 77px;
    top: 242px;

}
.dottedLeft{
    z-index: 1;
    height: 154px;
    width: 154px;
    background-image: url('../img/DottedSquare.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 154px 154px;
    position: relative;
    right: 77px;
    bottom: 396px;
}
.contactSquareBlueLeft{
    background-image: url("../img/squaresBlueDown.png");
    position: absolute;
    z-index: 1;
    top: 959px;
    left: 0px;
    height: 199px;
    width: 190px;
}
.contactSquareOrangeRight{
    background-image: url("../img/squaresOrangeRight.png");
    position: absolute;
    z-index: 1;
    top: 959px;
    right: 0;
    height: 199px;
    width: 190px;
}